.content {
  background-color: #aca4a1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #373883;
}

